# Loop

In [ ]:
iterable
iterator
iteration

In [ ]:
iterable = str, list, set, dict, tuple
non iterable = int, float, bool, complex

In [ ]:
for, while, iter

In [1]:
var = "this is first loop"

In [19]:
x = 10
y = 20
z = 45 + 6j  

2x + 6y = 23

In [3]:
for i in var:
    print(i)

t
h
i
s

i
s

f
i
r
s
t

l
o
o
p

In [4]:
len(var)

18

In [5]:
range(10)

range(0, 10)

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(1, 20, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [9]:
list(range(1, 20, -2))

[]

In [ ]:
                 -3-2-1 0 1 2 3

In [10]:
list(range(20, 1, -2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [11]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [13]:
for i in range(20, 10,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11

In [17]:
for i in range(20):
    print(i, end = "-")

0-1-2-3-4-5-6-7-8-9-10-11-12-13-14-15-16-17-18-19-

In [20]:
for i in x:
    print(i)

TypeError: 'int' object is not iterable

In [21]:
a = 0
while a < 5:
    print(a)
    a+=1

0
1
2
3
4

In [22]:
for x in range(10):
    print("Python", end = " ")

Python Python Python Python Python Python Python Python Python Python

In [23]:
l = [1,23,2,3,5,True]

In [24]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
23
2
3
5
True
if for loop is going to complete itself the it will execute else

In [25]:
l = [1,2,3,4,"sudh" ,"kumar" , 45.56]

In [26]:
for i in l :
    pass
    print(i)

1
2
3
4
sudh
kumar
45.56

In [27]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [28]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [29]:
for i in l :
    if i == 4 :
        continue
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3
sudh
kumar
45.56
this will execute only if for is going to complete itself

In [30]:
s = "sudhanshu"
for i in s :
    if i == 'n' :
        break
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a

In [31]:
s = "sudhanshu"
for i in s :
    if i == 'n' :
        continue
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a
s
h
u
print srtring  sudhanshu

In [32]:
d = {'key1' :"sudh" , 'contact' : "gmail" , "position" : "mentor"}

In [33]:
for i in d:
    print(i)

key1
contact
position

In [34]:
for i in d.values():
    print(i)

sudh
gmail
mentor

In [37]:
for i in d.items():
    print(i, "  ", type(i))

('key1', 'sudh')    <class 'tuple'>
('contact', 'gmail')    <class 'tuple'>
('position', 'mentor')    <class 'tuple'>

In [38]:
for i,j in d.items():
    print(i,j, "  ", type(i))

key1 sudh    <class 'str'>
contact gmail    <class 'str'>
position mentor    <class 'str'>

In [39]:
n = 4

for i in range(n) :
    for j in range(0, i+1) : 
        print("DA" , end = " ")
    print("\n")

DA

DA DA

DA DA DA

DA DA DA DA

In [40]:
count = 3

for i in range(count):
    name = input("Enter the name : ")
    print()
    print('You entered ', name)

Enter the name :  vijay

You entered  vijay

Enter the name :  ajay

You entered  ajay

Enter the name :  sujoy

You entered  sujoy

In [41]:
name = ""

while name != "Quit":
    name = input("Enter the name (use 'Quit' to stop :")
    if name != "Quit":
        print('You entered ', name)

Enter the name (use 'Quit' to stop : abc

You entered  abc

Enter the name (use 'Quit' to stop : ujf

You entered  ujf

Enter the name (use 'Quit' to stop : rty5

You entered  rty5

Enter the name (use 'Quit' to stop : quit

You entered  quit

Enter the name (use 'Quit' to stop : Quit

In [42]:
# Example
i = 0           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)

1
2
3
4
4
5
5
6
6
7

In [43]:
stmt = ""

while stmt != 'Quit':
    stmt = input("Enter the stmt (Use 'Quit' to stop )")
    if stmt.startswith("#") :
        continue
    if len(stmt) > 0 :
        print(stmt)

Enter the stmt (Use 'Quit' to stop ) abc

abc

Enter the stmt (Use 'Quit' to stop ) opq

opq

Enter the stmt (Use 'Quit' to stop ) Quit

Quit

In [45]:
squares = [0, 1, 4, 9, 16, 25]

for i, j in enumerate(squares):
    print(i, "  ", "value : " , j)

0    value :  0
1    value :  1
2    value :  4
3    value :  9
4    value :  16
5    value :  25

In [46]:
for i,j in enumerate("Data"):
    print(i,j)

0 D
1 a
2 t
3 a

In [47]:
s = "Jasmin sheikh"
for i in range(len(s)) : 
    print(i , s[i])

0 J
1 a
2 s
3 m
4 i
5 n
6
7 s
8 h
9 e
10 i
11 k
12 h

In [48]:
d4 = {1: ([["a","b"],1,2],"Nikita","mayuri"), 2: ([[2,"b"],"k1",2000],"mayuri","nikita")}

In [49]:
for i in d4.values():
    for j in i:
        if type(j) == str: 
            print(j)

Nikita
mayuri
mayuri
nikita

In [50]:
for i in d4.values():
    for j in i:
        if type(j) == list: 
            for k in j:
                if type(k) == int:
                    print(k)

1
2
2000

In [56]:
rows = 5

for i in range(rows):
    # nested loop
    for j in range(i):
        # display number
        print(i, end=' ')
    # new line after each row
    print('')

1
2 2
3 3 3
4 4 4 4

In [57]:
rows = 5
num = rows
# reverse for loop
for i in range(rows, 0, -1):
    for j in range(0, i):
        print("&", end=' ')
    print("\r")

& & & & &
& & & &
& & &
& &
&

In [58]:
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *